@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  * {
    @apply box-border;
  }

  body {
    @apply m-0 min-h-screen bg-black text-white;
  }
}

